<body>
  <section id="menu">
    <div class="logo">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="items">
      <a href="/salarytable">
        <li><i class="fas fa-chart-bar"></i>Salary Info</li>
      </a>
      <a href="/cycleResults">
        <li><i class="fas fa-user"></i>Cycle Search</li>
      </a>

      <a href="/slip">
        <li><i class="fas fa-chart-pie"></i>Payslip</li>
      </a>

      <a href="/logout">
        <li class="logout"><i class="fas fa-sign-out-alt"></i>logout</li>
      </a>
    </div>
  </section>

</body>