
<body>
  <section id="menu">
    <div class="logo">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="items">
      <a href="/admin">
        <li><i class="fas fa-chart-bar"></i>Dashboard</li>
      </a>
      <a href="/employees">
        <li><i class="fas fa-user"></i>Employees</li>
      </a>

      <a href="/salary">
        <li><i class="fas fa-chart-pie"></i>Salary</li>
      </a>

      <a href="/overtime">
        <li><i class="fas fa-hamburger"></i>Overtime</li>
      </a>

      <a href="/logout">
        <li class="logout" ><i class="fas fa-sign-out-alt"></i>logout</li>
      </a>
    </div>
  </section>

</body>

