<body>
  <section id="menu">
    <div class="logo">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="items">
      <a href="/">
        <li><i class="fas fa-user"></i>Home</li>
      </a>
      <a href="/empsalary">
        <li><i class="fas fa-search"></i>Find Salary</li>
      </a>

      <a href="/logout">
        <li class="logout"><i class="fas fa-sign-out-alt"></i>logout</li>
      </a>
    </div>
  </section>

</body>