<header>
  <div class="nav-con">
    <div class="main-nav">
      <a href="/"><span class="logo">AmberPayroll</span></a>
      <a href="/"><span>Home</span></a>
      <div class="dropdown">
        <button class="dropbtn">Dashboard</button>
        <div class="dropdown-content">
          <a href="/admin">Admin Dasboard</a>
          <a href="/tourdash">Tour Dashboard</a>
          <!-- <a href="#">Staff Dasboard</a> -->
        </div>
      </div>
      <a href="/notes/view"><span>Notes</span></a>
    </div>
    <div class="register">
      <a href="/login">Login</a>
      <a class="signUp" href="">Sign Up</a>

    </div>
  </div>
</header>