<body>
  <section id="menu">
    <div class="logo">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="items">
      <a href="/paycycle">
        <li><i class="fas fa-user"></i>Create Paycycle</li>
      </a>

      <a href="/summary">
        <li><i class="fas fa-chart-pie"></i>Summary</li>
      </a>

      <a href="/employee">
        <li><i class="fas fa-chart-bar"></i>Overtime</li>
      </a>

      <a href="/salaryInfo">
        <li><i class="fas fa-hamburger"></i>Add Work hours</li>
      </a>

      <a href="/logout">
        <li class="logout"><i class="fas fa-sign-out-alt"></i>logout</li>
      </a>
    </div>
  </section>

</body>