form{
    background-color: #fff;
    padding: 25px;
    width: fit-content;
    height: fit-content;
    margin: 2% 32rem;
}

form h2{
    text-align: center;
    margin-bottom: 2.5rem;
}

form .contact{
    display: flex;
}

form .contact input{
    width: 14rem;
    padding: 10px;
    margin-bottom: .6rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    border: 1px solid rgb(176, 176, 176);
}

form .name{
    margin-right: 2rem;
}
form input{
    padding: 15px;
    width: 30rem;
    margin-bottom: .8rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    border: 1px solid rgb(176, 176, 176);
}
form select{
    padding: 15px;
    width: 30rem;
    margin-bottom: .8rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    border: 1px solid rgb(176, 176, 176);
}


form span{
    display: block;
    color:#777;
}

form .emp-add{
    margin-top: .9rem;
    background-color: rgb(255, 145, 0);
    width: 30rem;
    border: none;
    padding: 14px;
    color: white;
    border-radius: .4rem;
    display: block;
}