form{
    background-color: #fff;
    padding: 25px;
    width: fit-content;
    height: fit-content;
    margin: 1% 32rem;
    border-radius: .6rem;
}

form h2{
    text-align: center;
    margin-bottom: 2.5rem;
}

form input{
    padding: 15px;
    width: 25rem;
    margin-bottom: .8rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    border: 1px solid rgb(176, 176, 176);
}
form select{
    padding: 15px;
    width: 25rem;
    margin-bottom: .8rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    border: 1px solid rgb(176, 176, 176);
}


form span{
    display: block;
    color:#777;
}

form .hrs-add{
    margin-top: .9rem;
    background-color: rgb(255, 145, 0);
    width: 25rem;
    border: none;
    padding: 14px;
    color: white;
    border-radius: .4rem;
    display: block;
}