form{
    background-color: #fff;
    padding: 25px;
    width: fit-content;
    height: fit-content;
    margin: 10% 32rem;
}

form h2{
    text-align: center;
    margin-bottom: 2rem;

}

form select{
    padding: 15px;
    width: 30rem;
    margin-bottom: .8rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    border: 1px solid rgb(176, 176, 176);
}

form .generate{
    margin-top: .9rem;
    background-color: rgb(255, 145, 0);
    width: 30rem;
    border: none;
    padding: 14px;
    color: white;
    border-radius: .4rem;
    display: block;
}